<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeff.module.project.mapper.AaaLogMapper">
  <resultMap id="BaseResultMap" type="com.jeff.module.project.model.AaaLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ProjectID" jdbcType="VARCHAR" property="projectid" />
    <result column="Sensor" jdbcType="VARCHAR" property="sensor" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="active" jdbcType="VARCHAR" property="active" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="reportURL" jdbcType="VARCHAR" property="reporturl" />
    <result column="readnum" jdbcType="INTEGER" property="readnum" />
    <result column="procStatus" jdbcType="INTEGER" property="procstatus" />
    <result column="cause" jdbcType="VARCHAR" property="cause" />
    <result column="audit" jdbcType="VARCHAR" property="audit" />
    <result column="response" jdbcType="LONGVARCHAR" property="response" />
  </resultMap>
</mapper>