<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeff.module.project.mapper.ProjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.jeff.module.project.model.ProjectInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="PrjAlias" jdbcType="VARCHAR" property="prjalias" />
    <result column="PrjType" jdbcType="VARCHAR" property="prjtype" />
    <result column="PrjAddr" jdbcType="VARCHAR" property="prjaddr" />
    <result column="OrgDept" jdbcType="VARCHAR" property="orgdept" />
    <result column="ContactP" jdbcType="VARCHAR" property="contactp" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="Latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="LatiLabel" jdbcType="DOUBLE" property="latilabel" />
    <result column="Longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="LongiLabel" jdbcType="DOUBLE" property="longilabel" />
    <result column="StatusVal" jdbcType="VARCHAR" property="statusval" />
    <result column="Bgimg" jdbcType="VARCHAR" property="bgimg" />
    <result column="renzhengma" jdbcType="VARCHAR" property="renzhengma" />
    <result column="prjURL" jdbcType="VARCHAR" property="prjurl" />
    <result column="unity3durl" jdbcType="VARCHAR" property="unity3durl" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="offsetlati" jdbcType="DOUBLE" property="offsetlati" />
    <result column="offsetlongti" jdbcType="DOUBLE" property="offsetlongti" />
    <result column="dbname" jdbcType="VARCHAR" property="dbname" />
    <result column="mapSource" jdbcType="VARCHAR" property="mapsource" />
    <result column="reportTemp" jdbcType="VARCHAR" property="reporttemp" />
    <result column="defZoom" jdbcType="DOUBLE" property="defzoom" />
    <result column="StatusDes" jdbcType="LONGVARCHAR" property="statusdes" />
    <result column="Description" jdbcType="LONGVARCHAR" property="description" />
    <result column="Demo" jdbcType="LONGVARCHAR" property="demo" />
    <result column="property" jdbcType="LONGVARCHAR" property="property" />
  </resultMap>
</mapper>