<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeff.module.project.mapper.UserPrjMapper">
  <resultMap id="BaseResultMap" type="com.jeff.module.project.model.UserPrj">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idx" jdbcType="VARCHAR" property="idx" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="prjid" jdbcType="VARCHAR" property="prjid" />
    <result column="srvid" jdbcType="INTEGER" property="srvid" />
    <result column="LatiLabel" jdbcType="DOUBLE" property="latilabel" />
    <result column="LongiLabel" jdbcType="DOUBLE" property="longilabel" />
  </resultMap>
</mapper>