<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeff.module.project.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jeff.module.project.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="lastloginip" jdbcType="VARCHAR" property="lastloginip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="ban" jdbcType="INTEGER" property="ban" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="workunit" jdbcType="VARCHAR" property="workunit" />
    <result column="srvurl" jdbcType="VARCHAR" property="srvurl" />
    <result column="loginnum" jdbcType="INTEGER" property="loginnum" />
    <result column="Position" jdbcType="VARCHAR" property="position" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="language" jdbcType="TINYINT" property="language" />
    <result column="agency" jdbcType="INTEGER" property="agency" />
    <result column="zoomLevel" jdbcType="TINYINT" property="zoomlevel" />
    <result column="systemStatusInterval" jdbcType="DOUBLE" property="systemstatusinterval" />
    <result column="offlineReportInterval" jdbcType="DOUBLE" property="offlinereportinterval" />
    <result column="lowPWRReportInterval" jdbcType="DOUBLE" property="lowpwrreportinterval" />
    <result column="alertReportInterval" jdbcType="DOUBLE" property="alertreportinterval" />
    <result column="actionReportInterval" jdbcType="DOUBLE" property="actionreportinterval" />
    <result column="alarmReportInterval" jdbcType="DOUBLE" property="alarmreportinterval" />
    <result column="noDataReportInterval" jdbcType="DOUBLE" property="nodatareportinterval" />
  </resultMap>
</mapper>